apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: asia-east1-docker.pkg.dev/newtest-414721/mlops/mlflow:latest
          args:
            - mlflow
            - server
            - --backend-store-uri=postgresql://admin:admin123@postgres:5432/what_to_eat
            - --default-artifact-root=s3://mlflow
            - --host=0.0.0.0
            - --port=5000
          env:
            - name: AWS_ACCESS_KEY_ID
              value: minioadmin
            - name: AWS_SECRET_ACCESS_KEY
              value: minioadmin123
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio:9000
            - name: AWS_DEFAULT_REGION
              value: us-east-1
          ports:
            - containerPort: 5000
