apiVersion: batch/v1
kind: Job
metadata:
  name: train-meal-model
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: trainer
          image: asia-east1-docker.pkg.dev/newtest-414721/mlops/what-to-eat-api:latest
          imagePullPolicy: Always
          command: ["python", "mlops/train_classifier.py"]
          env:
            - name: MLFLOW_TRACKING_URI
              value: http://mlflow:5000
            - name: MLFLOW_EXPERIMENT
              value: what_to_eat_classifier
            - name: DATA_PATH
              value: /app/data/synth_meals.csv
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio:9000
            - name: AWS_ACCESS_KEY_ID
              value: minio
            - name: AWS_SECRET_ACCESS_KEY
              value: minio12345
            - name: AWS_DEFAULT_REGION
              value: us-east-1