name: Deploy to GKE

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: newtest-414721
  REGION: asia-east1
  REPO: mlops
  CLUSTER: gke-mlops7
  ZONE: asia-east1-a

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

      - name: Build & Push API image
        run: |
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/what-to-eat-api:latest -f apps/api/Dockerfile .
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/what-to-eat-api:latest

      - name: Build & Push UI image
        run: |
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/what-to-eat-ui:latest -f apps/ui/Dockerfile .
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/what-to-eat-ui:latest

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.CLUSTER }}
          location: ${{ env.ZONE }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
